@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Robot", sans-serif;
  letter-spacing: 2px;
}

.business-heading {
	font-size: 3em;
}

.business-card {
	border-bottom: solid 1px black;
}

.new-york-heading {
	font-size: 3em;
}

.manufacturing-heading {
	font-size: 3em;
}


